.typeViewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.typeDetailDisplayGeneral {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.typeGeneralInfoContainer, .typeExtInfoContainer {
    text-align: center;
}

.typeBrandImg {
    width: 130px;
    height: 130px;
}

.carImgGallery {
    width: 100%;
    background-color: white;
}

.carCarousel {
    width: 200px;
    aspect-ratio: 3/2;
}

@media(min-width: 548px) {
    .carCarousel {
        width: 400px;
    }
}

@media(min-width: 768px) {
    .carCarousel {
        width: 600px;
    }
}