.homePageLogo {
    width: 200px;
    aspect-ratio: 1;
    border-radius: 15%;
}

.homePageWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.generalInfoContainer {
    border-radius: 5px;
    border: 1px solid #2f54eb;
    padding: 20px 30px;
}