@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.site-layout-background .trigger {
  color: white;
  margin-left: 20px;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: midnightblue;
  height: 64px;
}

.header span {
  color: white;
}

.logo {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 15%;
}

.container {
  max-width: 1200px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.brandsContainer, .typesContainer {
  display: grid;
  grid-template-columns: 1fr;
}

.linkedCard .brand, .linkedCard .type {
  margin: 15px;
  padding: 10px 20px;
  display: flex;
  border-radius: 10px;
}

.brandCardWrapper, .typeCardWrapper{
  display: flex;
  align-items: center;
}

.linkedCard .category {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 200px;
}

.linkedCard {
  text-decoration: none;
  color: black;
}

.brandIcon, .typeCategoryIcon {
  width: 75px;
  aspect-ratio: 1;
  margin-right: 20px;
}

.categoryIcon {
  width: 80px;
  height: 80px;
}

.searchBox {
  width: 300px;
  margin-left: auto;
}

.searchInput {
  height: 32px;
  width: 18%;
  min-width: 20px;
  border-radius: 5%;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.typeCardContent {
  width: 100%;
}

.ant-card-body {
  width: 100%;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.categoriesContainer {
  display: flex;
  flex-wrap: wrap;
}

.typeCoverImg {
  width: 160px;
  margin-left: auto;
}

.pageHeader {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .brandsContainer, .typesContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .brandsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
