@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.site-layout-background .trigger {
  color: white;
  margin-left: 20px;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: midnightblue;
  height: 64px;
}

.header span {
  color: white;
}

.logo {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 15%;
}

.container {
  max-width: 1200px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.brandsContainer, .typesContainer, .categoriesContainer {
  display: grid;
  grid-template-columns: 1fr;
}

.brand, .type {
  background: #A6A6A6;
  margin: 5px;
  padding: 10px 20px;
  display: flex;
  cursor: pointer;
}

.category {
  background: #A6A6A6;
  margin: 5px;
  padding: 10px 20px;
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.linkedCard {
  text-decoration: none;
  color: black;
}

.brandIcon, .typeCategoryIcon {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.categoryIcon {
  width: 80px;
  height: 80px;
}

.searchBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.searchInput {
  height: 32px;
  width: 18%;
  min-width: 20px;
  border-radius: 5%;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.typeViewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typeDetailDisplayGeneral {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.typeGeneralInfoContainer, .typeExtInfoContainer {
  text-align: center;
}

.typeBrandImg {
  width: 130px;
  height: 130px;
}

.carImgGallery {
  width: 100%;
  background-color: white;
}

@media (min-width: 768px) {
  .brandsContainer, .typesContainer {
    grid-template-columns: 1fr 1fr;
  }

  .categoriesContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .brandsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .categoriesContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}