@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 120px;
  height: 120px;
  border-radius: 20px;
}

.container {
  max-width: 1200px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.brandsContainer {
  display: grid;
  grid-template-columns: 1fr;
}

.typesContainer {
  display: grid;
  grid-template-columns: 1fr;
}

.brand {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  display: flex;
  cursor: pointer;
}

.brandIcon {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.searchBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.searchInput {
  height: 32px;
  width: 18%;
  border-radius: 5%;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

footer {
  margin-top: 30px;
  text-align: center;
}

@media (min-width: 630px) {
  .brandsContainer {
    grid-template-columns: 1fr 1fr;
  }

  .typesContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1050px) {
  .brandsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}